$itemHeight: 25px;

$consoleWidth: 250px;
$block1Width: 90px;
$block3Width: 50px;
$borderWidth: 3px;

.console {
  position: absolute;
  z-index: 100;
  background: #fff;
  top: 5px;
  right: 10px;
  box-shadow: 9px 9px black;
  width: $consoleWidth;
  border: solid $borderWidth #000;
  .console-item {
    height: $itemHeight;
    line-height: $itemHeight;
    &>div {
      float: left;
      height: $itemHeight;
    }
    .text {
      padding-left: 5px;
      width: $block1Width;
    }

    &.text {
      .text-value {
        width: $consoleWidth - $block1Width - 2 * $borderWidth;
        input {
          outline: none;
          border: none;
          height: $itemHeight;
          width: 100%;
        }
      }
    }

    &.range {
      .range-value {
        width: $consoleWidth - $block1Width - $block3Width - 2 * $borderWidth;
        background: #eee;
        cursor: ew-resize;
        .pointer {
          height: $itemHeight;
          background: #000;
        }
        &:hover {
          background: #ddd;
        }
      }
      .text-value {
        width: $block3Width;
        input {
          outline: none;
          border: none;
          height: $itemHeight;
          width: 100%;
        }
      }
    }

    &.color {
      .text-value {
        width: $consoleWidth - $block1Width - 2 * $borderWidth;
        position: relative;
      }
      .chrome-picker {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
      }

      &:hover {
        .chrome-picker {
          display: block;
        }
      }
    }

    &.button {
      cursor: pointer;
      background: #000;
      .text {
        padding: 0;
        width: 100%;
        text-align: center;
        background: #fff;
        box-sizing: content-box;
      }
      &:hover .text{
        outline: solid $borderWidth #000;
        transform: translate(-9px, -9px);
      }
    }
  }

  &.console-hidden {
    .console-opt {
      display: none;
    }
    .console-item.button:hover .text{
      outline: none;
      transform: translate(0, 0);
    }
  }
}

@media (max-width: 600px) {
  .console {
    box-shadow: none;
    border: solid 0 #000;
    border-bottom: solid $borderWidth #000;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    .console-item {
      .text {
        width: 25%;
      }
      &.text {
        .text-value {
          width: 75%;
        }
      }
      &.range {
        .range-value {
          width: 50%;
        }
        .text-value {
          width: 25%;
        }
      }
      &.color {
        .text-value {
          width: 75%;
        }
      }
    }
  }
}