#mask {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .2);

  .mask-container {
    position: absolute;
    width: 250px;
    background: #fff;
    border: solid 3px #000;
    padding: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}